# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache and Logs from IDEs
.cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Operating System Files
.DS_Store
Thumbs.db

# Local configuration file (sdk path, etc)
local.properties

# User-specific files (e.g., derived files)
*.swp
*.lock
*.bak
*.retry

